.RegisterPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 9em;
}

.basicInputImage::before {
    content: 'Фото';
}
.basicInputImage::-webkit-file-upload-button {
    display: none;
}