.basicTextArea {
    background-color: gray;
    color: white;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 15px;
    resize: none;
}
.basicTextArea:focus {
    outline: none;
}