.basicSelect {
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 15px;
    background-color: gray;
}
select :disabled {
    background-color: dimgray;
    color: white;
}